$borderBlakc: 0.1rem solid #ccc;
$font01:'Bebas Neue', cursive;
$font02:'Roboto', sans-serif;
$ipadPro: 1024px;
$ipad: 768px;
$desktop: 1247px;
@mixin text-align-center-ipad(){
  text-align: center;
}
@mixin max-ipad {
  @media (max-width: $ipad){
    justify-content: center;
  }
}
@mixin titleSection {
  font-size: 3.6rem;
  font-family: $font01;
  margin-bottom: 3.2rem;
}
@mixin rows {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@mixin sections {
  border-bottom: $borderBlakc;
  padding: 3rem 0;
}
*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}
html{
  width: 100vw;
  height: 100%;
  // overflow: hidden;
  @media (max-width: $ipad){
    overflow-x:unset;
    overflow-y:scroll ;
  }
}
body{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  // position: relative;
  @media (max-width: $ipad){
    flex-direction: column;
    justify-content: flex-start;
    height:unset;
  }

}
.main01{
  width: 30%;
  height: 100%;
  @media (max-width: $ipad){
    width: 100vw;
  }
  @media (min-width: $ipad) and (max-width: $ipadPro){
    width: 45%;
  }
  @media (min-width: $ipadPro) and (max-width: $desktop){
    width: 40%;
  }
}
.header{
  background-image: url(/images/header01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9.6rem 0 0;
  
    @media (max-width: $ipad){
      height: 70rem;
      padding-top: 4rem;
    }


  .container-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar{
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  
  .descriptionHeader{
    margin-right: 1.5rem;
    font-size:  3rem;
    text-align: end;
    line-height: 3.7rem;
    font-family: $font01;
    color: #fff;
    position: relative;
    left: 2.5rem;
    text-shadow: 0 0 2rem #000;
    @media (max-width: $ipad){
      text-align: center;
      margin-right: 0;
      position: unset;
      line-height: unset;
    }
    @media (min-width: $ipad) and (max-width: $ipadPro){
      margin-right: 4rem;
    }
    span{
      font-size:  4rem;

    }
  }
}

.main02{
  width: 70%;
  padding: 9.6rem 3.8rem 3.8rem;
  background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
  overflow-x: hidden;
  overflow-y: visible;
  @media (max-width: $ipad){
    width: 100vw;
    height: 100%;
    padding: 3.8rem 1.8rem 3.8rem;
  }
  
  @media (min-width: $ipadPro) and (max-width: $desktop){
    width: 60%;
  }

  .one{
    border-bottom: $borderBlakc;
    
    .headerOne p{
      font-size: 3.6rem;
      font-family: $font01;
      margin-bottom: 3.2rem;
      @include text-align-center-ipad();
    }
    .descriptionOne{
      font-size: 1.6rem;
      font-family: $font02;
      margin-bottom: 3.2rem;
      line-height: 2.2rem;
      text-align: justify;
    }
  }

  .two{
    @include sections();
    

    .titleSectionTwo{
      @include titleSection();
      @include text-align-center-ipad();
    }
    .row{
      @include rows();
      @include max-ipad();
      
      
      @media (min-width: $ipadPro) and (max-width: $desktop){
        justify-content: center;
      }

      .article-wrap{
        width: 37.8rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 1rem #ccc;
        padding-bottom: 1.2rem;
        background: #fff;
        margin: 0 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // @media (min)
      
        @media (min-width: 300px) and (max-width: $ipadPro){
          margin: 0 auto 1.8rem;
          // width: 30rem;
        }
          .job-image{
            border-radius: 1.5rem 1.5rem 0 0 ;
            width: 100%;
            height: 22.1rem;
            margin-bottom: 0.5rem;
          }
          p:nth-child(2){
            width: 97%;
            font-size: 1.6rem;
            font-family: $font02;
            margin: 0 0 0.8rem 0.5rem;
            padding: 0 0.5rem 0.2rem 0;
            font-weight: 700;
            border-bottom: $borderBlakc;
            padding-right: 0.5rem;
          }
          p:nth-child(3){
            font-size: 1.28rem;
            font-family: $font02;
            margin: 0 0.5rem 0.8rem 0.5rem;
            text-align: justify;
            line-height: 1.5rem;
            color: rgb(52, 52, 52);
          
          }
          .goToGitHub{
            width: 20rem;
            font-size: 1.6rem;
            margin: 0 auto;
            border: 0.2rem solid #ccc;
            border-radius: 0.8rem;
            padding: 0.5rem 2rem;
            text-decoration: none;
            text-align: center;
            font-family: $font02;
            color: rgb(0, 0, 0);
            display: block; 
            position: relative;        
          }
          .goToGitHub:hover{
              box-shadow: 0 0 1rem #ccc;
              font-weight: 600;
              transition: all 0.1s;
              background: linear-gradient(0deg, rgba(204,204,204,1) 51%, rgba(255,255,255,1) 90%);
            }
      }
    }
  }
  .three{
    @include sections();

    .titleSectionThree{
      @include titleSection();
      @include text-align-center-ipad();
    }
    .containerSkill{
      @include rows();
      @include max-ipad();
      @media (min-width: $ipadPro) and (max-width: $desktop){
        @include max-ipad();
      }

      .containerArticle{
        width: 37.5rem;
        // height: 29.7rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 1rem #ccc;
        padding: 1.2rem;
        background: #fff;
        margin: 0 0 2rem 2rem;
        display: flex;
        align-items: center;
        @media (max-width: $ipad){
          margin: 0 auto 1.8rem;
        }
        

        p{
          width: 97%;
          font-size: 1.6rem;
          font-family: $font02;
          margin: 0 0 0.8rem 0.5rem;
          padding: 0 0.5rem 0.2rem 0;
          font-weight: 700;
          border-bottom: $borderBlakc;
          padding-right: 0.5rem;
        }
      }
    }
  }
}

.footer{
  text-align: right;
  
  .icons-header-container{
    display: flex;
    justify-content: flex-end;
      @media (max-width: $ipad){
        justify-content: center;
      }
      a{
        width: 4.266rem;
        height: 4.266rem;;
      }
    :hover .fill{
      color: salmon;
      transition: all 0.5s;
      transform: scale(1.2, 1.2);
    }
  } 

  .copyright, .Design{
    font-family: $font02;
    font-size: 1.3rem;
  }
  .rigth-margin{
    margin-right: 1rem;
  }
  .bottom-margin{
    margin-bottom: 1rem;
  }
  .color-Footer{
    color: rgba(255, 255, 255, 0.687);
  }
  .fill{
    color: rgba(255, 255, 255, 0.687);
  }
}
